<mat-toolbar>
    <img src="https://teamextension.pt/dist/img/skills/ionic_og.png" alt="Logo" id="logo" routerLink="/">

    <!-- Search on large screens -->
    <div class="form-search" id="search-lg">
        <mat-form-field class="input-search">
            <input matInput type="text" autocomplete="on" name="pesquisar" placeholder="Pesquisar.." [(ngModel)]="value" (keyup.enter)="search()">
            <button mat-button *ngIf="value" matSuffix mat-icon-button (click)="value=''" type="button">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <!-- Search on large screens -->

    <!-- Search on small screens -->
    <button mat-icon-button class="btn" (click)="openSearchDialog()" id="search-sm">
        <mat-icon>search</mat-icon>
    </button>
    <!-- Search on small screens -->

    <!-- Buttons -->
    <button mat-button class="btn" routerLink="/" [ngClass]="page == 'home' ? 'active':''">Página Inicial</button>
    <button mat-button class="btn" routerLink="/categorias" [ngClass]="page == 'categorias' ? 'active':''">Categorias</button>
    <button mat-button class="btn" id="playlists" routerLink="/playlists" [ngClass]="page == 'playlists' ? 'active':''">Playlists</button>
    <button mat-icon-button class="btn" id="notification">
        <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
    </button>
    <button mat-icon-button class="btn" id="more" [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <!-- Buttons -->
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item id="notification-menu">
            <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
        </button>
        <button mat-menu-item id="btn-playlist-menu" routerLink="/playlists" [ngClass]="page == 'playlists' ? 'active-menu':''">Playlists</button>
        <button mat-menu-item>Fale Conosco</button>
    </mat-menu>
</mat-toolbar>