$font: "Carter One", cursive;
$main-color: #41BBEA;

#div-cards {
    // padding-left: 5%;
    // padding-right: 5%;
    // margin-top: 20px;
    // margin-bottom: 32px;
    margin-right: auto;
    display: block;
    width: 300px;
    height: 90vh;

    mat-grid-tile {
        :hover {
            cursor: pointer;

            #div-hover {
                display: block;
            }
        }
    }

    #logo {
        width: 160px;
        background: transparent;
    }

    #card {
        max-width: 400px;
    }

    p {
        text-align: center;
        font-family: $font !important;
        margin-top: 5px;
        margin-bottom: -10px;
        color: #474747;
        background: transparent;
    }

    #div-separator {
        width: 55%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: hsla(0, 0%, 6.7%, 0.8);
        text-align: center;
        font-size: 14px;

        #total {
            margin-top: 35%;
            color: hsla(0, 0%, 100%, 0.8);
        }

        #title {
            color: hsla(0, 0%, 100%, 0.8);
            margin-top: 15px;
        }

        mat-icon {
            position: absolute;
            margin-left: 5px;
        }
    }
}

#div-hover {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: hsla(0, 0%, 6.7%, 0.8);
    text-align: center;

    mat-icon {
        color: hsla(0, 0%, 100%, 0.8);
        margin-top: 20%;
    }

    p {
        font-family: Roboto,"Helvetica Neue",sans-serif !important;
        font-weight: bold;
        color: hsla(0, 0%, 100%, 0.8);
        font-size: 14px;
    }
}

#div-playlists {
    margin-top: 20px;
    margin-bottom: 32px;
    width: 60%;
    position: absolute;
    top: 80px;
    left: 300px;
    margin-left: 5%;
    margin-right: 5%;

    mat-grid-tile {
        opacity: 1;
        transition: visibility 0s 2s, opacity 1s linear;
        border-radius: 8px;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover;
        border: 1px solid #dbdbdb;
        box-shadow: 1px 2px 1px #c9c9c9;

        img {
            position: absolute;
            -webkit-filter: blur(0px) grayscale(50%);
            -moz-filter: blur(0px) grayscale(50%);
            -o-filter: blur(0px) grayscale(50%);
            -ms-filter: blur(0px) grayscale(50%);
            filter: blur(0px) grayscale(50%);
        }

        #title {
            font-size: 20px;
            color: #fff;
            position: absolute;
            bottom: 15px;
            text-align: center;
            font-family: $font;
        }

        .content {
            display: none;
            position: absolute;
            font-family: $font;
            font-size: 14px;
            color: #fff;
            width: 90%;
            border-radius: 8px;
            top: 5px;
            margin-top: 2px;
            background-color: #41BBEA;

            h1 {
                margin-bottom: 0px;
            }

            h1, p {
                font-size: 12px;
                text-align: center;
            }
        }

        #footer-title {
            font-family: $font;
        }

        #footer-action {
            opacity: 0;
            background-color: #41BBEA;
            font-family: $font;
            font-size: 14px;

            button {
                margin-left: auto;
            }
        }
    }

    mat-grid-tile:hover {
        img {
            -webkit-filter: blur(5px) grayscale(100%);
            -moz-filter: blur(5px) grayscale(100%);
            -o-filter: blur(5px) grayscale(100%);
            -ms-filter: blur(5px) grayscale(100%);
            filter: blur(5px) grayscale(100%);
        }

        .content {
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 0.5s;
            display: block;
        }

        #footer-title {
            opacity: 0;
            transition: visibility 0s 0.5s, opacity 0.5s linear;
        }

        #footer-action {
            opacity: 1;
            transition: visibility 0s 1s, opacity 1s linear;
        }
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    #logo {
        width: 80px !important;
    }

    #div-cards {
        width: 150px;
    }

    #div-playlists {
        width: 47%;
        margin-top: -15px;
        left: 160px;

        mat-grid-tile {
            img {
                width: 200px;
                top: 0;
            }
        }

        .content {
            h1, p {
                font-size: 10px;
                text-align: center;
            }
        }

        #footer-title {
            font-size: 12px;
        }

        #footer-action {
            font-size: 8px;
        }
    }
}

@media only screen and (max-width: 768px) {
    #logo {
        width: 100px !important;
    }

    #div-separator {
        font-size: 10px !important;
    }

    #div-playlists {
        width: 47%;

        .content {
            h1, p {
                font-size: 8px !important;
            }
        }

        #footer-action {
            font-size: 10px !important;
        }
    }
}