$main-color: #41BBEA;
$font: "Carter One", cursive;

#spinner {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 64px;
}

h3 {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-left: 5%;
    color: $main-color;
}

#div-chips{
    margin-left: 5%;
    margin-top: 16px;
}

mat-chip {
    font-family: $font;
}

.mat-chip.mat-standard-chip{
    color: #fff;
    background-color: $main-color;
}
