$font: "Carter One", cursive;
$main-color: #41BBEA;

#div-cards {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    margin-bottom: 32px;

    mat-grid-tile {
        :hover {
            cursor: pointer;
            background-color: #c9c9c9;
            -webkit-transition: background-color 500ms linear;
            -ms-transition: background-color 500ms linear;
            transition: background-color 500ms linear;

            p {
                color: #fff;
            }
        }
    }

    #logo {
        width: 160px;
        background: transparent;
    }

    #card {
        max-width: 400px;
    }

    p {
        text-align: center;
        font-family: $font !important;
        margin-top: 5px;
        margin-bottom: -10px;
        color: #474747;
        background: transparent;
    }
}

@media only screen and (max-width: 600px) {
    #logo{
        width: 80px !important;
    }
}

@media only screen and (max-width: 768px) {
    #logo{
        width: 100px !important;
    }
}
